<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
	
	  <!-- connection strings, azure or local -->
	  <add key="ConnString" value="%ConnString_Mag_Local%"/>

    <add key="StixFolder" value="C:\\MitreData"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>